---
import Layout from "../layouts/Layout.astro";
import "../assets/styles/reset.css";
import "../assets/styles/global.css";
import Formulario from "../components/Formulario.astro";
import DeaContact from "../assets/images/dea3.jpeg";
import SocialIcons from "../components/SocialIcons.astro";
---

<Layout>
  <div class="content-grid">
    <div class="contact">
      <div class="title">
        <h3 class="description__title">
          Let’s create something meaningful together!
        </h3>
      </div>
      <div class="contact__img">
        <img src={DeaContact.src} alt="foto de deanny" />
      </div>
      <div class="contact__description">
        <p>
          I’d love to hear from you—whether you have a project in mind, a
          question, or just want to say hi. I believe in the power of
          collaboration, empathy, and well-crafted experiences. Send me a
          message, and I’ll get back to you as soon as I can!
        </p>
        <p class="contact__description__email">
          If you prefer to write to me by email, you can do so here:
          deannybruces@gmail.com
        </p>
        <div class="social-icons">
          <SocialIcons />
        </div>
      </div>
      <div class="contact__form"><Formulario /></div>
    </div>
  </div>
</Layout>

<style>
  .contact {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas:
      "title title"
      "img text"
      "img form";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    color: var(--text-color);
    align-items: center;
    justify-items: stretch;
    padding: 100px 0px;
  }

  .title {
    grid-area: title;
    width: 100%;
    margin-bottom: 50px;
  }

  .contact__img {
    grid-area: img;
    width: 100%;
    height: auto;
    align-self: start;
  }

  .contact__img img {
    height: auto;
    width: 100%;
    box-sizing: content-box;
    object-fit: cover;
    border-radius: 5px;
  }

  .contact__description {
    grid-area: text;
    padding: 0 3rem 0 3rem;
  }

  .description__title {
    width: 100%;
    color: var(--h3-color);
    margin-bottom: 2rem;
    padding: 5px 50px;
  }

  .contact__description__email {
    margin-top: 1.3rem;
    font-weight: 500;
  }

  .social-icons {
    padding: 2rem 0rem;
  }

  .contact__form {
    grid-area: form;
    padding: 0 3rem 0 3rem;
  }

  @media (max-width: 768px) {
    .contact {
      grid-template-areas:
        "title"
        "img"
        "text"
        "form";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
    }

    .contact__img {
      width: 40%;
      height: auto;
      align-self: center;
      justify-self: center;
    }

    .contact__img img {
      width: 100%;
      height: auto;
    }
  }
</style>
