---
import Layout from "../layouts/Layout.astro";
import Formulario from "../components/Formulario.astro";
import DeaContact from "../assets/images/dea3.jpeg";
import SocialIcons from "../components/SocialIcons.astro";
import PageTitle from "components/PageTitle.astro";
---

<Layout
  title="Contacto"
  description="Ponte en contacto con Deanny Bruces para hablar sobre tu proyecto web. Estoy disponible para colaboraciones, preguntas o simplemente para saludar."
  keywords="contacto, Deanny Bruces, colaboración, proyecto web, desarrolladora web, freelance, consultoría"
>
  <div class="content-grid">
    <div class="contact breakout">
      <div class="title">
        <PageTitle>
          ¡Creemos algo significativo <span>juntos</span>!
        </PageTitle>
      </div>
      <div class="contact__img">
        <img
          src={DeaContact.src}
          alt="Deanny Bruces - Desarrolladora Web disponible para colaboraciones y proyectos"
        />
      </div>
      <div class="container-contact-description">
        <p class="contact-description">
          Me encantaría saber de ti, ya sea que tengas un proyecto en mente, una
          pregunta o simplemente quieras saludar.
        </p>
        <p class="contact-description">
          Creo en el poder de la colaboración, la empatía y las experiencias
          bien elaboradas. ¡Envíame un mensaje y te responderé lo antes posible!
        </p>
        <p class="contact-description">
          Si prefieres escribirme por correo electrónico, puedes hacerlo aquí:
          deannybruces@gmail.com
        </p>
        <div class="social-icons">
          <SocialIcons />
        </div>
      </div>
      <div class="contact__form"><Formulario /></div>
    </div>
  </div>
</Layout>

<style>
  /** Mobile First **/

  .contact {
    display: grid;
    grid-template: "title" auto "img" auto "text" auto "form" auto / 1fr;
    gap: 10px;
    place-items: center stretch;

    width: 100%;
    height: auto;

    color: var(--text-color);
  }

  .title {
    grid-area: title;
    width: 100%;
  }

  .contact__img {
    grid-area: img;
    place-self: start center;

    width: 50%;
    height: auto;
    margin-bottom: 2rem;
  }

  .contact__img img {
    box-sizing: content-box;
    width: 100%;
    height: auto;
    border-radius: 5px;

    object-fit: cover;
  }

  .container-contact-description {
    grid-area: text;
    padding: 0 3rem;
  }

  .description__title {
    width: 100%;
    margin-bottom: 2rem;
    color: var(--acento-btn);
    text-align: center;
  }

  .contact-description {
    margin-top: 1.3rem;
    font-weight: 500;
  }

  .social-icons {
    justify-self: left;
    padding: 2rem 0;
  }

  .contact__form {
    grid-area: form;
    padding: 0 3rem;
  }

  /** Tablet
  @media (width >= 768px) {
  }
  /** Desktop **/

  @media (width >= 1024px) {
    .contact {
      grid-template:
        "title title"
        "img text"
        "img form"
        / 1fr 1fr;
    }

    .contact__img {
      width: 100%;
    }
  }
</style>
