---
import { Image } from "astro:assets";
import DeannyPerfil from "../assets/images/deanny-perfil.jpg";
---

<section class="about-me content-grid">
  <div class="container">
    <div class="about-content">
      <div class="about-image">
        <Image
          src={DeannyPerfil}
          alt="Deanny Bruces - Desarrolladora Frontend especializada en crear experiencias web memorables"
          class="img-about"
          height={500}
        />
      </div>
      <div class="about-text">
        <h2 class="saludo">¡Hola! Soy Deanny</h2>
        <p>
          Transformo ideas en experiencias web memorables. Con un enfoque en
          accesibilidad y rendimiento, creo páginas modernas optimizadas que
          conectan con personas.
        </p>
        <p>
          Desarrolladora frontend con pasión por el diseño creativo. Me inspiro
          en el arte, la ilustración y los detalles, combinando funcionalidad
          con armonía. Mi misión es ayudar a emprendedores, marcas y negocios a
          construir su presencia digital con identidad propia.
        </p>
        <a href="/sobre-mi" class="btn">Conóceme más</a>
      </div>
    </div>
  </div>
</section>

<style>
  .about-me {
    padding: 4rem 2rem;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }

  .about-image img {
    width: 250px;
    height: auto;
    border: 5px solid var(--deanny-cian);
    border-radius: 50%;

    object-fit: cover;
    box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
  }

  .about-text {
    flex: 1;
    min-width: 280px;
  }

  .saludo {
    --webkit-background-clip: text; /* Aplica el degradado solo al texto (WebKit) */

    place-self: end stretch;

    margin-bottom: 1rem;
    margin-block: 1rem;

    font-family: Poppins, sans-serif;
    font-size: 2rem;
    color: #1b184c;
    color: transparent;

    background: linear-gradient(to right, #c38cf6, #4bc0c8);
    background-clip: text; /* Aplica el degradado solo al texto */

    /* anima el background del texto */

    -webkit-text-fill-color: transparent; /* Hace el texto transparente (WebKit) */
  }

  .about-text p {
    margin-bottom: 1rem;
    font-family: Inter, sans-serif;
    font-size: 1rem;
  }

  .btn {
    display: inline-block;

    padding: 0.8rem 1.4rem;
    border: 1px solid var(--deanny-purpura);
    border-radius: 60px;

    font-weight: 800;
    color: var(--deanny-text-color);
    text-decoration: none;

    background: var(--bg-color);

    transition: background 0.3s ease;
  }

  .btn:hover {
    background: #c38cf6;
  }

  /* Responsivo */
  @media (width <= 768px) {
    .about-content {
      flex-direction: column;
      text-align: center;
    }

    .about-image img {
      width: 200px;
    }
  }
</style>
