---
import { Image } from 'astro:assets';
import Dea from "../assets/images/dea.png";
import Location from "../assets/icons/location.svg";
import SocialIcons from "../components/SocialIcons.astro";
---

<div class="about">
  <div class="header-about">
    <h1 class="about__title">Mi nombre es Deanny, me dicen Dea!</h1>
    <h2 class="description__text--profession">
      Front-end Developer / Ingeniera Industrial
    </h2>
  </div>
  <div class="about__right">
    <div class="about__image">
      <Image src={Dea} alt="foto de Deanny" class="profile-image" />
      <div class="about__location">
        <Location /><span>Santiago / Chile</span>
      </div>
    </div>
    <div class="about__languages">
      <span class="language">Español</span>
      <span class="language">Inglés</span>
    </div>
    <div class="container__social-icons">
      <SocialIcons />
    </div>
  </div>

  <div class="about__description">
    <p class="description__text">
      Apasionada por crear experiencias web intuitivas, accesibles y visualmente
      atractivas.
    </p>

    <p class="description__text">
      He trabajado en la creación de interfaces modernas utilizando tecnologías
      como HTML, CSS, JavaScript y frameworks como React.
    </p>

    <p class="description__text">
      Mi enfoque combina diseño y código: me gusta pensar en la experiencia del
      usuario desde el primer boceto hasta la última línea de código.
    </p>

    <p class="description__text">
      Creo firmemente que un sitio web bien hecho no solo debe verse bien, sino
      también funcionar rápidamente, ser accesible y adaptarse a cualquier
      dispositivo.
    </p>

    <p class="description__text">
      He colaborado en diversos proyectos, comprendiendo necesidades como la
      optimización móvil y el diseño centrado en la funcionalidad.
    </p>

    <p class="description__text">
      Me encanta aprender y mejorar constantemente, y por eso sigo
      perfeccionando mis habilidades en rendimiento web, mejores prácticas y
      usabilidad.
    </p>

    <p class="description__text">
      Siempre estoy buscando nuevos desafíos y oportunidades para crecer como
      desarrolladora.
    </p>

    <p class="description__text">
      Si estás buscando a alguien que pueda dar vida a tus ideas con creatividad
      y precisión técnica, contáctame.
    </p>

    <p class="description__text">
      Además de programar, disfruto colaborar con equipos multidisciplinarios,
      contribuir con ideas creativas y mantener una comunicación clara y
      empática.
    </p>

    <p class="description__text">
      Busco aportar valor real en cada proyecto en el que participo. ¿Nos
      conectamos?
    </p>
  </div>

  <style>
    /** Mobile First **/

    .about {
      display: grid;
      grid-template-areas: "title" "right" "description";
      grid-template-columns: 1fr;
      padding: 50px 20px;
      gap: 20px;
    }

    .about__title {
      text-align: center;
      font-weight: 600;
      color: var(--acento-btn);
      margin-top: 5rem;
      margin-bottom: 2rem;
      line-height: 1;
    }

    .profile-image {
      width: 250px;
      height: 250px;
      margin: 20px auto;
      border-radius: 50%;
      border: 1px solid var(--border-color);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      box-sizing: content-box;
      object-fit: cover;
    }

    .header-about {
      grid-area: title;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about__description {
      grid-area: description;
    }

    .description__title {
      font-weight: 800;
      color: var(--acento-btn);
      padding: 0 60px;
    }

    .description__text--profession {
      margin-bottom: 0px;
      padding-top: 0;
      font-weight: 400;
      text-align: center;
      color: var(--text-color);
    }

    .description__text {
      padding: 0 20px;
      color: var(--text-color);
      margin: 15px 0;
      line-height: 1.6;
    }

    .about__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: right;
    }

    .about__location {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      font-size: 1.2rem;
      font-weight: 400;
      margin-top: 10px;
      color: var(--text-color);
    }

    .about__image {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .image__text {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      font-size: 1.2rem;
      color: var(--text-color);
      margin-top: 10px;
    }

    .container__social-icons {
      padding: 20px 20px 0px 20px;
    }

    .about__languages {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }

    .language {
      color: var(--text-color);
      padding: 3px 15px;
      border-radius: 20px;
      border: 1px solid var(--acento-btn);
      font-size: 1rem;
    }

    /*Tablet*/

    @media (min-width: 768px) {
    }

    /* desktop */

    @media (min-width: 1024px) {
      .about {
        grid-template-areas:
          "title title"
          "right description"
          "right description";
        grid-template-columns: 2fr 3fr;
      }

      .about__title {
        font-size: 3rem;
      }
      .profile-image {
        margin: 0px auto;
      }

      .description__text--profession {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 5rem;
        padding-top: 0;
      }

      .description__text {
        padding: 0px 6rem 2rem 0px;
      }
    }
  </style>
</div>
