---
import { Image } from "astro:assets";
import Dea from "../assets/images/dea.png";
import Location from "../assets/icons/location.svg";
import SocialIcons from "../components/SocialIcons.astro";
import "../assets/styles/About.css";
import PageTitle from "./PageTitle.astro";
---

<div class="about">
  <div class="header-about">
    <PageTitle>
      Mi nombre es Deanny, <span>me dicen Dea!</span>
    </PageTitle>
    <h2 class="description__text--profession">
      Front-end Developer / Ingeniera Industrial
    </h2>
  </div>
  <div class="about__right">
    <div class="about__image">
      <Image src={Dea} alt="foto de Deanny" class="profile-image" />
      <div class="about__location">
        <Location /><span>Santiago / Chile</span>
      </div>
    </div>
    <div class="about__languages">
      <span class="language">Español</span>
      <span class="language">Inglés</span>
    </div>
    <div class="container__social-icons">
      <SocialIcons />
    </div>
  </div>

  <div class="about__description">
    <p class="description__text">
      Apasionada por crear experiencias web intuitivas, accesibles y visualmente
      atractivas.
    </p>

    <p class="description__text">
      He trabajado en la creación de interfaces modernas utilizando tecnologías
      como HTML, CSS, JavaScript y frameworks como React.
    </p>

    <p class="description__text">
      Mi enfoque combina diseño y código: me gusta pensar en la experiencia del
      usuario desde el primer boceto hasta la última línea de código.
    </p>

    <p class="description__text">
      Creo firmemente que un sitio web bien hecho no solo debe verse bien, sino
      también funcionar rápidamente, ser accesible y adaptarse a cualquier
      dispositivo.
    </p>

    <p class="description__text">
      He colaborado en diversos proyectos, comprendiendo necesidades como la
      optimización móvil y el diseño centrado en la funcionalidad.
    </p>

    <p class="description__text">
      Me encanta aprender y mejorar constantemente, y por eso sigo
      perfeccionando mis habilidades en rendimiento web, mejores prácticas y
      usabilidad.
    </p>

    <p class="description__text">
      Siempre estoy buscando nuevos desafíos y oportunidades para crecer como
      desarrolladora.
    </p>

    <p class="description__text">
      Si estás buscando a alguien que pueda dar vida a tus ideas con creatividad
      y precisión técnica, contáctame.
    </p>

    <p class="description__text">
      Además de programar, disfruto colaborar con equipos multidisciplinarios,
      contribuir con ideas creativas y mantener una comunicación clara y
      empática.
    </p>

    <p class="description__text">
      Busco aportar valor real en cada proyecto en el que participo. ¿Nos
      conectamos?
    </p>
  </div>
</div>
