---
import ButtonCta from "../components/ButtonCta.astro";
---

<section class="sobre-mi content-grid">
  <h2 class="about-me__title">¡Quién Soy!</h2>
  <div class="about-me__body">
    <div class="about-me__text">
      <p class="about-me__text--description">
        Soy Deanny, desarrolladora frontend y apasionada por el diseño web
        creativo. Me encanta transformar ideas en experiencias digitales únicas
        que conecten con las personas y transmitan emociones.
      </p>
      <p class="about-me__text--description">
        Además de programar, disfruto del arte, la ilustración y la buena
        cocina, lo que me inspira a crear proyectos llenos de color, armonía y
        funcionalidad.
      </p>
      <p class="about-me__text--description">
        Mi misión es ayudar a emprendedores, marcas y negocios a construir su
        presencia digital con páginas web modernas, optimizadas y con identidad
        propia.
      </p>
      <p>Lo que me define:</p>
      <ul>
        <li>Creatividad y pasión por el diseño</li>
        <li>Atención al detalle y calidad</li>
        <li>Empatía y enfoque en el usuario</li>
        <li>Colaboración y comunicación efectiva</li>
        <li>Aprendizaje continuo y adaptación</li>
      </ul>
    </div>
    <ButtonCta href="/sobre-mi"> Conoce más sobre mi</ButtonCta>
  </div>
</section>

<style>
  .sobre-mi {
    padding: 50px 0px;
  }

  .about-me__title {
    padding-top: 5px;
    margin-bottom: 2rem;
    text-align: center;
  }

  .about-me__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .about-me__text {
    padding-inline: 2rem;
  }

  .about-me__text--description {
    color: var(--text-color);
    line-height: 1.3;
    margin-bottom: 15px;
  }
  ul {
    color: var(--text-color);
    margin-top: 10px;
    line-height: 1.5;
  }
</style>
