---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div class="container-btn">
  <a href={href} class="btn--action">
    <slot />
  </a>
</div>

<style>
  .container-btn {
    display: flex;
  }

  .btn--action {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;

    width: auto;
    margin-top: 40px;
    margin-bottom: 2rem;
    padding: 11px 14px;
    border-color: initial;
    border-style: none;
    border-width: initial;
    border-radius: 20px;
    border-image: initial;

    font-size: clamp(0.875rem, 1rem + 0.5vw, 1.125rem);
    font-weight: 600;
    color: var(--primary-color);

    background-color: var(--acento-btn);

    transition: background-color 1.2s ease;
  }

  @property --angulo {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
  }

  .btn--action::after,
  .btn--action::before {
    content: "";

    position: absolute;
    z-index: -5;

    box-sizing: unset;
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 20px;

    background: conic-gradient(
      from var(--angulo),
      var(--acento-btn),
      var(--secondary-color),
      var(--acento-btn-hover)
    );

    animation: girar 3s linear infinite;
  }

  .btn--action::after {
    animation-delay: 0s;
  }

  .btn--action::before {
    opacity: 0.5;
    filter: blur(64px);
    animation-delay: 1s;
  }

  @keyframes girar {
    0% {
      --angulo: 0deg;
    }

    100% {
      --angulo: 360deg;
    }
  }

  .btn--action:hover {
    background-color: var(--acento-btn-hover);
  }
</style>
