<span class="clima">Clima</span>

<script>
fetch('https://www.meteosource.com/api/v1/free/point?place_id=santiago&sections=current&language=en&units=auto&key=z87pseeg5odtg7e4ej39pvlgzyzqun5xffzyup0v', {
  headers: {
    'Content-Type': 'application/json',
    'Accept': 'application/json'
  }
})
  .then(respuesta => {
    return respuesta.json(); // Convertimos la respuesta a JSON
  })
  .then(data => {
    console.log({data}); // Mostramos los datos en la consola
    document.querySelector('.clima').textContent = `Clima: ${data.current.temperature}°C, Santiago de Chile`; // Mostramos el clima en el elemento con clase 'clima'  
  })
  .catch(error => {
    console.error('Error al obtener el clima:', error); // Mostramos el error en la consola
    document.querySelector('.clima').textContent = 'Error al obtener el clima'; // Mostramos un mensaje de error en el elemento con clase 'clima'
  })

  //key API: z87pseeg5odtg7e4ej39pvlgzyzqun5xffzyup0v
</script>

<style>
  .clima {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #fff; /* Cambia el color del texto */
  }
  
</style>