---
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<section class="featured-projects">
  <div class="cards">
    {
      projects
        .filter((project) => project.data?.starred)
        .map((project) => {
          return (
            <Card
              link={`/projects/${project.id}`}
              image={project.data.image}
              title={project.data.title}
              date={project.data.date}
              tags={project.data.tags || []}
            />
          );
        })
    }
  </div>
</section>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 388px);
    gap: 40px;
    padding: 0px;
    justify-content: center;
  }
</style>
