---
import Love from "../assets/icons/love.svg";
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Twitter from "../assets/icons/twitter.svg";
import Instagram from "../assets/icons/instagram.svg";
---

<div class="footer">
  <p class="text">
    &copy; 2025 | Made with <span><Love /></span> by Deanny Bruces
  </p>
  <div class="social-icons">
    <a class="icons"><Github /></a>
    <a class="icons"><Linkedin /></a>
    <a class="icons"><Twitter /></a>
    <a class="icons"><Instagram /></a>
  </div>
</div>

<style>
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: var(--section-dark);
    border-top: 1px solid #1806283b;
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: 500;
  }

  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--acento-btn);
    font-size: clamp(0.8rem, 1.8vw, 1rem);
    gap: 5px;
    margin: 0;
    padding: 10px 0;
  }

  .text svg {
    width: clamp(16px, 2vw, 20px);
    height: clamp(16px, 2vw, 20px);
    vertical-align: middle;
  }

  .icons {
    background-color: var(--section-light);
    margin: 5px;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    transition:
      background-color 0.3s ease,
      scale 0.3s ease,
      border-radius 0.3s ease;
  }

  .icons:hover {
    scale: 1.2;
    border-radius: 50%;
    border: 1px solid var(--active-color-hover);
  }

  span {
    margin: 5px;
    display: inline-flex;
    align-items: center;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
