---
import Love from "../assets/icons/love.svg";
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Twitter from "../assets/icons/twitter.svg";
import Instagram from "../assets/icons/instagram.svg";
import SocialIcons from "./SocialIcons.astro";
---

<div class="footer">
  <p class="text">
    &copy; 2025 | Made with <span><Love /></span> by Deanny Bruces
  </p>

  <div class="social-icons">
    <SocialIcons />
  </div>
</div>

<style>
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: var(--section-dark);
    border-top: 1px solid #1806283b;
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: 500;
  }

  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--acento-btn);
    font-size: clamp(0.8rem, 1.8vw, 1rem);
    gap: 5px;
    margin: 0;
    padding: 10px 0;
  }

  .text svg {
    width: clamp(16px, 2vw, 20px);
    height: clamp(16px, 2vw, 20px);
    vertical-align: middle;
  }

  span {
    margin: 5px;
    display: inline-flex;
    align-items: center;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
