<div class="header">
  <slot name="widget-left" />
  <slot />
  <slot name="widget-right" />
</div>

<style>
  .header {
    background-color: transparent;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 20px;
  }
</style>
