---
import ButtonCta from "./ButtonCta.astro";
import { Picture } from "astro:assets";
import Dea from "../assets/images/dea.jpg";
---

<section class="hero full-width">
  <div class="hero-text">
    <div class="container-saludo">
      <p class="greeting saludo"></p>
      <p class="saludo">Bienvenid@s a mi mundo de desarrollo web</p>
    </div>
    <Picture
      src={Dea}
      alt="Deanny Bruces - Desarrolladora Frontend especializada en crear experiencias web memorables"
      class="img-hero"
      height={200}
    />
    <h1 class="title">
      <span class="rol">Front-end Developer</span>
    </h1>
    <h2 class="nombre-hero">Soy Deanny 👋🏻</h2>
    <p class="frase">
      Transformo ideas en experiencias web memorables. Con un enfoque en la
      accesibilidad y el rendimiento.
    </p>
    <ButtonCta href="/contacto"> ¡Conectemos! </ButtonCta>
  </div>
</section>

<style>
  .hero {
    position: relative;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    background: #221034;
    background: linear-gradient(
      0deg,
      var(--color-1) 0%,
      var(--color-2) 77%,
      var(--color-3) 100%
    );
  }

  .img-hero {
    box-sizing: content-box;
    aspect-ratio: 1;
    width: 100%;
    border-radius: 50%;

    object-fit: cover;
  }

  .hero-text {
    isolation: isolate;
    display: grid;
    place-items: center center;
  }

  .title {
    --webkit-background-clip: text; /* Aplica el degradado solo al texto (WebKit) */

    place-self: end stretch;

    margin-block: 1rem;

    color: transparent;

    background: linear-gradient(
      to right,
      #dda1dd,
      #8e44ad
    ); /* Define el degradado */

    background-clip: text; /* Aplica el degradado solo al texto */

    -webkit-text-fill-color: transparent; /* Hace el texto transparente (WebKit) */
  }

  .rol {
    font-size: clamp(1rem, 3rem + 0.5vw, 6rem);
    font-weight: 900;
    line-height: 1;
    color: var(--acento-btn);
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .container-saludo {
    margin-top: 6rem;
    margin-bottom: 1rem;
  }

  .saludo {
    font-size: clamp(1.3rem, 1.5vw, 1.8rem);
    font-weight: 600;
    line-height: 1.3;
    color: var(--acento-btn);
    text-align: center;
    letter-spacing: 0.5px;
  }

  .nombre-hero {
    font-size: clamp(1.5rem, 1.8vw, 2rem);
    font-weight: 800;
    line-height: 1.8;
    color: #dda1dd;
    letter-spacing: 0.5px;
  }

  .frase {
    max-width: 30rem;

    font-size: clamp(1rem, 1.125rem + 0.5vw, 1.25rem);
    font-weight: 600;
    font-style: italic;
    color: var(--acento-btn);
    text-align: center;
  }
</style>
