---
import ButtonCta from "./ButtonCta.astro";
---

<section class="hero full-width">
  <h2 class="saludo">
    Hi <span class="greeting"></span>, I'm Deanny!<span
      style='white-space:nowrap;font-size:1em;font-family:"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'
      >👋🏻</span
    >
  </h2>
  <h1 class="title">Frontend Developer</h1>
  <p class="frase">
    "I code efficient, accessible, and delightful web experiences."
  </p>

  <ButtonCta href="/contact"> Connect with me </ButtonCta>
</section>

<style>
  .hero {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    isolation: isolate;
  }

  .title {
    font-weight: 700;
    text-align: center;
    margin-block: 1rem;
  }
  .saludo {
    font-weight: 600;
    text-align: center;
    margin-top: 4rem;
  }
  .frase {
    font-style: italic;
    text-align: center;
    max-width: 600px;
    font-size: 2rem;
  }

  .greeting {
    font-weight: 600;
    color: var(--acento-btn-hover);
    border-radius: 20px;
    border: 1px solid var(--acento-btn-hover);
    padding: 0.2rem 1rem;
  }
</style>
