<nav>
  <ul>
    <li>Home</li>
    <li><span class="separator"></span></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Blog</a></li>
    <li><span class="separator"></span></li>
    <li><button>Mode toggler</button></li>
  </ul>
</nav>