---
import Home from "../assets/icons/home.svg";
import Person from "../assets/icons/person.svg";
import Projects from "../assets/icons/projects.svg";
import Blog from "../assets/icons/blog.svg";
import Tool from "../assets/icons/tool.svg";
import "../assets/styles/reset.css";
import "../assets/styles/global.css";
import Send from "../assets/icons/send.svg";
import Services from "../assets/icons/services.svg";
interface MenuElement {
  name: string;
  icon: unknown;
  path: string;
}
const menuElements: MenuElement[] = [
  { name: "Quién soy!", icon: Person, path: "/sobre-mi" },
  { name: "Servicios", icon: Services, path: "/services" },
  { name: "Proyectos", icon: Projects, path: "/proyectos" },
  { name: "Blog", icon: Blog, path: "/blog" },
  { name: "Herramientas", icon: Tool, path: "/tools" },
  { name: "Contacto", icon: Send, path: "/contacto" },
];
const isActualPage = (element: Partial<MenuElement>) => {
  return Astro.url.pathname === element.path;
};
---

<nav role="navigation" aria-label="Navegación principal">
  <ul>
    <li class:list={["li__home", { active: isActualPage({ path: "/" }) }]}>
      <a href="/" aria-label="Ir a la página de inicio"><Home /></a>
    </li>
    <li class="li__separador"><span class="separator"></span></li>
    {
      menuElements.map((element) => (
        <li class:list={["li__nav", { active: isActualPage(element) }]}>
          <a href={element.path}>
            <!-- @ts-ignore -->
            <element.icon />
            {element.name}
          </a>
        </li>
      ))
    }
    
    
  </ul>
</nav>

<style>
  nav {
    display: flex;

    height: min-content;
    border: 1px solid var(--deanny-purpura);
    border-radius: 60px;

    font-size: 20px;

    background-color: light-dark(#faf8ffa9, #26122ba5);
    backdrop-filter: blur(10px);
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    align-items: center;
    justify-content: space-evenly;

    padding-inline-start: 0;
  }

  .separator {
    display: block;

    width: 1px;
    height: 1lh;
    border-radius: 5px;

    background: var(--deanny-purpura);
  }

  li {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    padding: 3px 6px;

    list-style-type: none;
  }

  li.active {
    font-weight: 800;
    color: var(--deanny-cian);
  }

  a {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1rem;
  }

  .li__nav {
    --_border-color: var(--li-border-color, transparent);

    padding: 0 8px;
    border: 1px solid var(--_border-color);
    border-radius: 20px;
    transition: all 300ms ease-in-out;
  }

  .li__nav:hover {
    --li-border-color: var(--deanny-cian);

    border-radius: 20px;
  }

  .li__nav.active,
  li.active {
    --li-border-color: var(--deanny-cian);

    border-radius: 20px;
  }

  li.active a,
  .li__nav.active a {
    color: var(--deanny-cian);
  }

  .li__home {
    padding: 3px 17px;
    font-weight: 500;
    transition: all 300ms ease-in-out;
  }

  .li__separador {
    display: flex;
    align-items: center;
    padding: 0;
  }
</style>