---
import Home from "../assets/icons/home.svg";
import Moon from "../assets/icons/moon.svg";
import Sun from "../assets/icons/sun.svg";
import LightDark from "../assets/icons/light-dark.svg";
import Person from "../assets/icons/person.svg";
import Projects from "../assets/icons/projects.svg";
import Blog from "../assets/icons/blog.svg";
import "../assets/styles/reset.css";
import "../assets/styles/global.css";
import Send from "../assets/icons/send.svg";
interface MenuElement {
  name: string;
  icon: ImageMetadata;
  path: string;
}
const menuElements: MenuElement[] = [
  { name: "Quién soy!", icon: Person, path: "/sobre-mi" },
  { name: "Proyectos", icon: Projects, path: "/proyectos" },
  { name: "Blog", icon: Blog, path: "/blog" },
  { name: "Contacto", icon: Send, path: "/contacto" },
];
const isActualPage = (element: Partial<MenuElement>) => {
  return Astro.url.pathname === element.path;
};
---

<nav>
  <ul>
    <li class:list={["li__home", { active: isActualPage({ path: "/" }) }]}>
      <a href="/"><Home /></a>
    </li>
    <li class="li__separador"><span class="separator"></span></li>
    {
      menuElements.map((element) => (
        <li class:list={["li__nav", { active: isActualPage(element) }]}>
          <a href={element.path}>{element.name}</a>
        </li>
      ))
    }
    <li class="li__separador"><span class="separator"></span></li>
    <li class="toggle__theme">
      <div class="theme-switcher-menu" button-theme>
        <button type="button" class="button-theme action">
          <span class="button-wrap">
            <span class="icon-theme-os-default">
              <LightDark />
              Tema
            </span>
          </span>
        </button>

        <ul class="submenu">
          <div class="container-menu-theme">
            <li>
              <label class="theme__btn">
                <input
                  type="radio"
                  name="color-scheme"
                  id="light-dark"
                  value="light dark"
                />
                <span class="icon-menu-theme">
                  <LightDark />
                  Por defecto
                </span>
              </label>
            </li>
            <li>
              <label class="theme__btn">
                <input
                  type="radio"
                  name="color-scheme"
                  id="light-dark"
                  value="light"
                />
                <span class="icon-menu-theme">
                  <Sun />
                  Claro
                </span>
              </label>
            </li>
            <li>
              <label class="theme__btn">
                <input
                  type="radio"
                  name="color-scheme"
                  id="light-dark"
                  value="dark"
                />
                <span class="icon-menu-theme">
                  <Moon />
                  Oscuro
                </span>
              </label>
            </li>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;

    border: 1px solid var(--acento-btn);
    border-radius: 20px;

    font-size: 20px;

    background-color: light-dark(#faf8ffa9, #26122ba5);
    backdrop-filter: blur(10px);
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-evenly;

    padding: 3px;
    padding-inline-start: 0;
  }

  .separator {
    display: block;

    width: 1px;
    height: 1lh;
    border-radius: 5px;

    background: var(--acento-btn);
  }

  li {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    padding: 3px 17px;

    list-style-type: none;
  }

  li.active {
    font-weight: 800;
    color: var(--acento-btn-hover);
  }

  a {
    font-size: 1.3rem;
  }

  .li__nav {
    --_border-color: var(--li-border-color, transparent);

    padding: 3px 17px;
    border: 1px solid var(--_border-color);
    border-radius: 20px;
    transition: all 300ms ease-in-out;
  }

  .li__nav:hover {
    --li-border-color: var(--acento-btn-hover);

    border-radius: 20px;
  }

  .li__nav.active,
  li.active {
    --li-border-color: var(--acento-btn-hover);

    border-radius: 20px;
  }

  li.active a,
  .li__nav.active a {
    color: var(--acento-btn-hover);
  }

  .li__home {
    padding: 3px 17px;
    font-weight: 500;
    transition: all 300ms ease-in-out;
  }

  .li__separador {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .theme__btn {
    display: block;

    padding: 8px;
    border: none;
    border-radius: 10px;

    color: var(--acento-btn);

    appearance: none;
    background-color: var(--section-dark);

    transition: all 300ms ease-in-out;
  }

  label {
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }

  label:has(input:checked) {
    color: var(--acento-btn-hover);
    background-color: var(--section-dark);
  }

  input {
    display: none;
  }

  .theme__btn:hover {
    color: var(--acento-btn-hover);
    background-color: var(--section-dark);
  }

  .icon-theme-os-default {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    color: var(--acento-btn);
  }

  .submenu {
    position: absolute;
    top: 100%;
    right: -97px;

    display: none;

    width: 230px;
    padding: 10px;
    border: 1px solid var(--acento-btn);
    border-radius: 10px;

    background-color: var(--background-color);
  }

  .button-theme {
    cursor: pointer;

    display: inline-block;

    margin: 2px 5px;
    padding: 3px 0;
    border: none;

    color: var(--text-color);
    text-decoration: none;

    background-color: transparent;
  }

  .container-menu-theme {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  span.icon-menu-theme {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;

    width: 10rem;

    color: var(--acento-btn);
  }

  span.icon-menu-theme:hover {
    color: var(--acento-btn-hover);
    background-color: var(--section-dark);
  }

  span.icon-menu-theme:active {
    color: var(--acento-btn-hover);
  }
</style>

<script src="../scripts/navigation.js"></script>
