---
import Home from "../assets/icons/home.svg";
import Moon from "../assets/icons/moon.svg";
import Sun from "../assets/icons/sun.svg";
import LightDark from "../assets/icons/light-dark.svg";
import Person from "../assets/icons/person.svg";
import Projects from "../assets/icons/projects.svg";
import Blog from "../assets/icons/blog.svg";
import "../assets/styles/reset.css";
import "../assets/styles/global.css";
import Send from "../assets/icons/send.svg";
const actualPage = Astro.url.pathname;
interface MenuElement {
  name: string;
  icon: ImageMetadata;
  path: string;
}
const menuElements: MenuElement[] = [
  { name: "Quién soy!", icon: Person, path: "/sobre-mi" },
  { name: "Proyectos", icon: Projects, path: "/proyectos" },
  { name: "Blog", icon: Blog, path: "/blog" },
  { name: "Contacto", icon: Send, path: "/contacto" },
];
const isActualPage = (element: Partial<MenuElement>) => {
  return Astro.url.pathname === element.path;
};
---

<nav>
  <ul>
    <li class:list={["li__home", { active: isActualPage({ path: "/" }) }]}>
      <a href="/"><Home /></a>
    </li>
    <li class="li__separador"><span class="separator"></span></li>
    {
      menuElements.map((element) => (
        <li class:list={["li__nav", { active: isActualPage(element) }]}>
          <a href={element.path}>{element.name}</a>
        </li>
      ))
    }
    <li class="li__separador"><span class="separator"></span></li>
    <li class="toggle__theme">
      <div class=theme-switcher-menu button-theme>
        <button type="button" class="button-theme action">
          <span class="button-wrap">
            <span class="icon-theme-os-default">
              <LightDark />
              Tema
            </span>
          </span>
        </button>

        <ul class="submenu">
          <div class="container-menu-theme">
          <li>
            <label class="theme__btn">
              <input
                type="radio"
                name="color-scheme"
                id="light-dark"
                value="light dark"
              />
              <span class="icon-menu-theme">
              <LightDark />
              Por defecto
              </span>
            </label>
          </li>
          <li>
            <label class="theme__btn">
              <input
                type="radio"
                name="color-scheme"
                id="light-dark"
                value="light"
              />
              <span class="icon-menu-theme">
                <Sun />
                Claro
              </span>
            </label>
          </li>
          <li>
            <label class="theme__btn">
              <input
                type="radio"
                name="color-scheme"
                id="light-dark"
                value="dark"
              />
              <span class="icon-menu-theme">
                <Moon />
                Oscuro
              </span>
            </label>
          </li>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</nav>

<style>
  
  nav {
    display: flex;
    background-color: light-dark(#faf8ffa9, #26122ba5));
    border: 1px solid var(--acento-btn);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    font-size: 20px;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    padding-inline-start: 0px;
    padding: 3px 3px;
  }

  .separator {
    background: var(--acento-btn);
    height: 1lh;
    display: block;
    width: 1px;
    border-radius: 5px;
  }

  li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 3px 17px;
  }

  li.active {
    font-weight: 800;
    color: var(--acento-btn-hover);
  }

  a {
    font-size: 1.3rem;
  }

  .li__nav {
    --_border-color: var(--li-border-color, transparent);
    transition: all 300ms ease-in-out;
    border-radius: 20px;
    padding: 3px 17px;
    border: 1px solid var(--_border-color);
  }

  .li__nav:hover {
    --li-border-color: var(--acento-btn-hover);
    border-radius: 20px;
  }

  .li__nav.active,
  li.active {
    --li-border-color: var(--acento-btn-hover);
    border-radius: 20px;
  }

  .li__nav.active a,
  li.active a {
    color: var(--acento-btn-hover);
  }
  .li__home {
    padding: 3px 17px;
    transition: all 300ms ease-in-out;
    font-weight: 500;
  }


  .li__separador {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .theme__btn {
    appearance: none;
    color: var(--acento-btn);
    border: none;
    display: block;
    transition: all 300ms ease-in-out;
    padding: 8px;
    background-color: var(--section-dark);
    border-radius: 10px;
  }

  label:has(input:checked) {
    color: var(--acento-btn-hover);
    background-color: var(--section-dark);
  }
  label {
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  input {
    display: none;
  }

  .theme__btn:hover {
    color: var(--acento-btn-hover);
    background-color: var(--section-dark);
  }

.icon-theme-os-default{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: var(--acento-btn);
}
.submenu{
    position: absolute;
    top: 100%;
    right: -97px;
    background-color: var(--background-color);
    border: 1px solid var(--acento-btn);
    border-radius: 10px;
    padding: 10px;
    display: none;
    width: 230px;
}

.button-theme {
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  padding: 3px 0px;
  text-decoration: none;
  margin: 2px 5px;
  border: none;
}

.container-menu-theme{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

span.icon-menu-theme {
  display: flex;
  flex-direction: row;
  width: 10rem;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  color: var(--acento-btn)
}

span.icon-menu-theme:hover {
  color: var(--acento-btn-hover);
  background-color: var(--section-dark);
}
span.icon-menu-theme:active {
  color: var(--acento-btn-hover);
}

</style>

<script src="../scripts/navigation.js"></script>