---
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Twitter from "../assets/icons/twitter.svg";
import Instagram from "../assets/icons/instagram.svg";
import Email from "../assets/icons/email.svg";
---

<div class="social-icons">
  <a href="https://github.com/deabruces/" class="icons"><Github /></a>
  <a href="https://www.linkedin.com/in/deannybruces/" class="icons"
    ><Linkedin /></a
  >
  <a href="https://x.com/deannybruces" class="icons"><Twitter /></a>
  <a href="https://www.instagram.com/itsdeannybruces" class="icons"
    ><Instagram /></a
  >

  <style>
    .social-icons {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }

    .icons {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;

      padding: 5px;
      border: 1px solid var(--acento-btn);
      border-radius: 20px;

      color: var(--acento-btn);
      text-decoration: none;

      background-color: var(--section-dark);

      transition: transform 0.3s ease;
    }

    .icons:hover {
      transform: scale(1.05);
      border: 1px solid var(--acento-btn-hover);
      color: var(--acento-btn-hover);
      background-color: var(--section-light);
    }
  </style>
</div>
