---
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Twitter from "../assets/icons/twitter.svg";
import Instagram from "../assets/icons/instagram.svg";
import Email from "../assets/icons/email.svg";
---

<div class="social-icons">
  <a href="#" class="icons"><Github /></a>
  <a href="#" class="icons"><Linkedin /></a>
  <a href="#" class="icons"><Twitter /></a>
  <a href="#" class="icons"><Instagram /></a>
  <a href="#" class="icons"><Email /></a>
</div>

<style>
  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid var(--acento-btn);
    background-color: var(--section-dark);
    color: var(--acento-btn);
    text-decoration: none;
    transition: transform 0.3s ease;
  }

  .icons:hover {
    background-color: var(--section-light);
    transform: scale(1.05);
    border: 1px solid var(--acento-btn-hover);
  }
</style>
