---
import Html from "../assets/icons/html.svg";
import Css from "../assets/icons/css.svg";
import Js from "../assets/icons/js.svg";
import Typescript from "../assets/icons/typescript.svg";
import AstroIcon from "../assets/icons/astro.svg";
import React from "../assets/icons/react.svg";
import Tailwind from "../assets/icons/tailwind.svg";
import Wordpress from "../assets/icons/wordpress.svg";
import Github from "../assets/icons/github.svg";
import Bootstrap from "../assets/icons/bootstrap.svg";
---

<div class="tech-iconos-color">
  <div class="iconos-color">
    <Html width="100%" height="100%" />
  </div>
  <div class="iconos-color">
    <Css width="100%" height="100%" />
  </div>
  <div class="iconos-color">
    <Tailwind width="100%" height="80%" />
  </div>
  <div class="iconos-color">
    <Bootstrap width="100%" height="100%" />
  </div>
  <div class="iconos-color">
    <Js width="100%" height="100%" />
  </div>
  <div class="iconos-color">
    <Typescript width="100%" height="100%" />
  </div>
  <div class="iconos-color">
    <AstroIcon width="100%" height="100%" />
  </div>
  <div class="iconos-color">
    <React width="100%" height="100%" />
  </div>
  <div class="iconos-color">
    <Github width="100%" height="100%" />
  </div>
  <div class="iconos-color">
    <Wordpress width="100%" height="100%" />
  </div>
</div>

<style>
  /*Tech Iconos*/

  .tech-stack {
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .tech-iconos-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .iconos-color {
    width: 16%;
    text-align: -webkit-center;
    padding: 5px;
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.5));
    color: var(--secondary-color);
  }

  :global(.iconos-color svg) {
    width: clamp(50px, 5vw, 70px);
    height: clamp(50px, 5vw, 70px);
    transition: transform 0.3s ease-in-out;
  }
</style>
