---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../assets/styles/reset.css";
import "../../assets/styles/global.css";
import "../../assets/styles/md.css";
import "../../assets/styles/grid.css";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout>
  <h1 class="title">{project.data.title}</h1>
  <div class="project-image">
    <img src={project.data.image} />
  </div>

  <Content />
</Layout>
