---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { project } = Astro.props;
const { Content } = await render(project);
const ImgAnimationName = "image--" + project.id;
const TitleAnimationName = "title--" + project.id;
---

<Layout>
  <div class="markdown">
    <div class="container">
      <h1 class="title">{project.data.title}</h1>
      <div class="project-image">
        <Image
          src={project.data.image}
          alt={project.data.title}
          width={800}
          height={450}
          loading="lazy"
          class="project-image__image"
        />
      </div>
      <Content />
    </div>
  </div>
</Layout>

<style define:vars={{ ImgAnimationName, TitleAnimationName }}>
  @import url("../../assets/styles/md.css");
  .project-image__image {
    view-transition-name: var(--ImgAnimationName);
  }
  .title {
    view-transition-name: var(--TitleAnimationName);
  }
</style>
