:root{
    --primary-color: #2d0c4b;
    --secondary-color: #c38cf6;
    --background-color: #2d0c4b5e;
    --background-color-hover: rgb(40 47 107 / 30%);
    --text-color: #fff;
    --font-family: 'Arial', sans-serif;
    --border-color: #62586a;
    --border-radius: 20px;
    --background-section: #461672;
}


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  }

  h1{
    font-size: clamp(3rem, 4vw, 5rem);

  }
  h2{
    font-size: clamp(2.5rem, 3.5vw, 4rem);
  }
  h3{
    font-size: clamp(2rem, 3vw, 3.5rem);
  }
  h4{
    font-size: clamp(1.5rem, 2.5vw, 3rem);
  }
  h5{
    font-size: clamp(1rem, 2vw, 2.5rem);
  }

  h6{
    font-size: clamp(0.8rem, 1.5vw, 2rem);
  }
  p{
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);
    line-height: 1.3;
  }
  a{
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
  }
  a:hover{
    color: var(--primary-color);
  }
/* 
*{
  outline: 35px rgba(255, 0, 0, 0.06) solid;
} */
