.markdown {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-inline: 2rem;
  padding-block-start: 6lh;
}

.container {
  max-width: 43.75rem;
}

* :global(h1) {
  font-size: clamp(1.6rem, 2.25vw, 2.5rem);
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: center;
}

* :global(h2) {
  line-height: 1.2;
  font-size: clamp(1.4rem, 1.8vw, 3rem);
  margin-bottom: 1lh;
}

* :global(h3) {
  margin-bottom: 1lh;
  line-height: 1.2;
  font-size: clamp(1.2rem, 1.6vw, 2.5rem);
}

* :global(p) {
  margin-bottom: 1lh;
}

* :global(a) {
  text-decoration: none;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
}

* :global(li:last-child) {
  margin-bottom: 1lh;
}

* :global(.post-image) {
  border-radius: 8px;
  margin-bottom: 3rem;
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 10;
}

* :global(.project-image) {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

* :global(.project-image img) {
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 16/9;
}

* :global(pre.astro-code) {
  background: #2d2d2d;
  border-radius: 8px;
  color: #f8f8f2;
  padding: 1rem;
  overflow-x: auto;
  margin-bottom: 1rem;
}
