---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Clima from "../components/Clima.astro";
import Hora from "../components/Hora.astro";
import Navigation from "../components/Navigation.astro";
import "../assets/styles/reset.css";
import "../assets/styles/grid.css";
import "../assets/styles/global.css";
import BurgerMenu from "../components/BurgerMenu.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Portfolio Deanny</title>
  </head>
  <body>
    <header>
      <div class="header-desktop">
        <Header>
          <Clima slot="widget-left" />
          <Navigation />
          <Hora slot="widget-right" />
        </Header>
      </div>

      <div class="header-mobile">
        <div class="burger-menu">
          <BurgerMenu />
        </div>
      </div>
    </header>

    <main class="content-grid"><slot /></main>

    <footer class="footer"><Footer /></footer>
  </body>
</html>

<style>
  html,
  body {
    background-color: var(--primary-color);

    font-family: "Inter", sans-serif;
    color: white;
  }

  :global(.opened) + main {
    padding-top: 68px;
    @media (width >= 48rem) {
      padding: 0;
    }
  }

  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .header-desktop {
    display: none;
  }
  .header-mobile {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    opacity: 0.8;
  }

  .burger-menu {
    display: flex;
    justify-content: end;
  }

  @media (min-width: 768px) {
    .header-desktop {
      display: block;
    }

    .header-mobile {
      display: none;
    }
  }
</style>
