---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Clima from "../components/Clima.astro";
import Hora from "../components/Hora.astro";
import Navigation from "../components/Navigation.astro";
import "../assets/styles/reset.css";


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
    <Header>
      <Clima slot="widget-left" />
      <Navigation />
      <Hora slot="widget-right" />
    </Header>
		<slot />
    <Footer></Footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
    background-image: linear-gradient(to right, #180628, #20143e, #282055, #2d2e6e, #2d3c89, #35459d, #3e4fb1, #4858c6, #645cd6, #805ee4, #9d5ff0, #ba5ffb);
	}
</style>
